*.o
moc*
ui*
*.pro*
*~
*user
*_automoc*
*shell
CMakeFiles*
CMakeCache*
CMakeTemp*
CMakeTmp*
CMakeFilesTemp*
*cmake_*
*swp
*install_manifest*

/CMakeFiles*
/CMakeCache*
/CMakeTemp*
/CMakeTmp*
/CMakeFilesTemp*
Makefile*
*install_manifest*
